.hand{
  cursor: pointer;
  font-weight: bold;
  color: #63122c;
}

.right{
  text-align: right;
}

.action_buttons{
  margin-right: 5px;
  color: white;
}

.middle{
  text-align: center;
}

.wide{
  width: 100%
}

.actions{
  margin-top: 20px
}